<!DOCTYPE html>
<html>
    <head>
        <title>My VueApp</title>
        <style>
          .red { 
          color: red; 
          }
        </style>
        
    </head>

    <body>
      <!--Dans le head, on applique la couleur red, grâce à l'objet '.red'-->
      
      <div class="ui main container" id="app">
        <input type="text" v-model="nom">
        <h1>{{ nom }}</h1>
      
        


      <h2 :class="{red: checked}">{{ h2 }}</h2>
      <h1 :class="{red: checked}">{{ nom }}</h1><!--Ici, que se soit pour h1 ou pour h2, si 'checked' est 'true', il prendra la valeur 'red', -->
      
      <!--Ci dessous nous n'avons pas besoin de V-model. En effet, celui-ci n'est utilisé que pour afficher, ce que l'on saisit, en direct -->
      <input v-model="contenu">
                

      <button 
      v-on:click="validate">Cliquez</button>

      <input type= "checkbox" @click="checked = !checked"> 
      <!--ici, nous avons un input de type 'checkbox'. @click nous permet de basculer entre les deux valeurs possibles de 'checked'.-->
      {{ checked }}

      

      <input type= "checkbox" @click="show = !show"> 
      <!--Ici, nous avons un input de type 'checkbox'. @click nous permet de basculer entre les valeurs possible de 'show'-->
       
      <img v-if="show" src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Montreal_-_QC_-_Skyline.jpg">
      {{ show }}
      <!--Ici, nous avons utilisé un 'v-if' qui va vérifier si la méthode "show" est true ou false. En fonction l'image apparaîtra ou pas.-->

        
      
    
      

        

      </div>



      
     
    
             
             


      

      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="applicationvue.js"></script>
      


    </body>

</html>
                    