<!DOCTYPE html>
<html>
    <head>
        <title>My VueApp</title>
        
    </head>

    <body>

      <p>
      <div class="ui main container" id="app">
        <input type="text" v-model="nom">
    <!--<div class="ui message" :class="success ? 'success' : 'error'"></div>-->  
        <h1>{{ nom }}</h1>
      </p>
        


      <h2>{{ h2 }}</h2>
      <!--Ci dessous nous n'avons pas besoin de V-model. En effet, celui-ci n'est utilisé que pour afficher, ce que l'on saisit, en direct -->
      <input v-model="contenu">
          
      <!--Pour récupérer la valeur de l'input, l'hypothèse menerait à l'utilisation de la méthode 'Post'--> 
      <!---En fait j'ai l'impression d'être hors sujet-->
      <!--Second hyothèse: utiliser un return-->
      <!---Le return s'avère être également une fausse piste-->
      <!----->
      

      <button 
      v-on:click="validate">Cliquez</button>

      
      </button>
    
             
             

      </div>

      

      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="applicationvue.js"></script>


    </body>

</html>
                    